<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <!-- Navbar and Heading -->
     <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span href="{% url 'dashboard' %}" class="ml-3 text-xl">Event Management</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="{% url 'all_events' %}" class="mr-5 hover:text-gray-900">Event</a>
            <a href="{% url 'category_list' %}" class="mr-5 hover:text-gray-900">Category</a>
            <a href="{% url 'all_participants' %}" class="mr-5 hover:text-gray-900">Participant</a>
            <a href="{% url 'dashboard' %}" class="mr-5 hover:text-gray-900">Dashboard</a>
          </nav>
        </div>
    </header>
    <h1 class="text-3xl font-bold mb-4">Create Category</h1>
    {% for message in messages %}
            <div class="p-4 mb-4 text-sm text-red-700 bg-black rounded-lg">
                {{ message }}
            </div>
        {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="mx-auto w-48 text-white bg-green-500 border-0 my-6 py-2 px-4 focus:outline-none hover:bg-green-600 rounded" type="submit">Save</button>
    </form>
    <script>
      setTimeout(() => {
          document.querySelectorAll('.p-4.mb-4').forEach(msg => msg.remove());
      }, 3000); // Message disappears after 3 seconds
      fetch(window.location.href, { method: 'GET', cache: 'no-store' });
  </script>
</body>
</html>