<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for participant in participants %}
    <p>{{ participant.name }} - {{ participant.email }}</p>
    <a href="{% url 'participant_update' participant.id %}">Edit</a>
    <a href="{% url 'participant_delete' participant.id %}">Delete</a>
{% endfor %}
<a href="{% url 'participant_create' %}">Add Participant</a>

</body>
</html>